.cartPreview {
  width: 340px;
}

.productList {
  line-height: 0.5;
}

.product {
  display: flex;
  justify-content: space-between;
}

.priceTotal {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
}
