.cartPreview {
  width: 340px;
}

.product {
  display: flex;
  justify-content: space-between;
}

.product > * {
  min-width: 100px;
}

.productPrice {
  text-align: end;
}

.priceTotal {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
}
