body {
    font-family: avenir;
    background-color: #FFFFFF;
}

.main-title {
    display: flex;
    justify-content: center;
    text-align: center;  
}
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
}

.nav {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    color: black;
}

.links{
    display: flex;
}

.links a {
    margin-right: 100px;
}

.cart {
    display: flex;
    justify-content: flex-end;
}

.img-cart {
    width: 20%;
}

.product-info {
    line-height: 0.9;
    margin-bottom: 80px;
}

.main-title {
    display: flex;
    justify-content: space-between;
    text-align: center;
    justify-content: center;
    padding: 50px;
    font-size: 1.5rem;
}

img {
    width: 80%;
    border: 1px solid black;
    border-radius: 5px;
}

.img-detail {
    width: 30%;
}

.main-img {
    width: 40%;
}

.gallery-img{
    display: flex;
    gap: 10px;
    width: 20%;
    cursor: pointer;
}

.product-detail {
    padding: 10px 20px;
}

.filter-ctn {
    display: flex;
    padding: 10px 20px; 
    
}

.filter-ctn ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
      
}


.detail-button {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 10px;
}

.add-grid {
    padding: 10px 20px;
    width: 50%;
}

h1 {
    font-size: 1rem;
    text-decoration: none;
    color: black;
}
p {
    color: black;
}
a {
    text-decoration: none;
    color: black;
}

label {
    margin-top: 10px;
}

