body {
    font-family: avenir;
    background-color: #FFFFFF;
}
/*Product Section - GRID*/
.main-title {
    display: flex;
    justify-content: center;
    text-align: center;  
}
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
}
/*Product Section - GRID*/

/*Navbar*/
.nav {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    color: black;
}

.links{
    display: flex;
}

.links a {
    margin-right: 100px;
}

.cart {
    display: flex;
    justify-content: flex-end;
}

.img-cart {
    width: 20%;
}

.main-title {
    display: flex;
    justify-content: space-between;
    text-align: center;
    justify-content: center;
    padding: 50px;
    font-size: 1.5rem;
}

img {
    width: 80%;
    border: 1px solid black;
    border-radius: 5px;
}

.img-detail {
    width: 30%;
}


.gallery-img{
    display: flex;
    gap: 10px;
    width: 20%;
    cursor: pointer;
}


.filter-ctn {
    display: flex;
    padding: 10px 20px; 
    
}

.filter-ctn ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
      
}

/*Product Detail Section*/
.product-detail {
    padding: 10px 20px;
  }
  
  .product-info {
    padding: 10px 0px;
    padding-top: 100px;
    line-height: 1.5; /* Adjust the line height as needed */
  }
  
  .detail-img-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
  
  .gallery-img {
    display: flex;
    flex-shrink: 1;
    flex-direction: column;
    width: 5%;
    margin-right: 20px; /* Adjust the margin as needed */
  }
  
  .detail-btn-container {
    margin-top: 50px;
    margin-left: -70px;
  }
  
  .detail-text {
    width: 70%;
    line-height: 1.8;
  }
  
  .main-img {
    display: flex;
    flex-direction: column;
    width: 40%;
  }
  
  .img-detail {
    width: 100%; /* Ensure images fill their container */
    cursor: pointer;
    /* Add any other styles as needed */
  }
  
  .detail-button {
    display: flex;
    margin-top: 10px;
  }
  
  /* Add any other styles you need for responsiveness or specific design requirements */
  
/*End Product Detail Section*/

.add-grid {
    padding: 10px 20px;
    width: 50%;
}

h1 {
    font-size: 1rem;
    text-decoration: none;
    color: black;
}
p {
    color: black;
}
a {
    text-decoration: none;
    color: black;
}

label {
    margin-top: 10px;
}

