body {
    font-family: avenir;
    background-color: #FFFFFF;
  
}
/*Product Section - GRID*/
.main-title {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 50px;
    font-size: 1.5rem; 
}
.grid {
    display: grid;
    padding: 40px 80px;
    grid-template-columns: repeat(3, 1fr); 
    gap: 10px
    
}

/*Product Section - GRID*/

/*Navbar*/
.nav {
    display: flex;
    justify-content: space-between;
    padding: 40px 80px;
    color: black;
}

.links{
    display: flex;
}

.links a {
    margin-right: 100px;
}

.cart {
    display: flex;
    justify-content: flex-end;
}

.img-cart {
    width: 20%;
}

.main-title {
    display: flex;
    justify-content: space-between;
    text-align: center;
    justify-content: center;
    padding: 50px;
    font-size: 1.5rem;
}

img {
    width: 80%;
    border: 1px solid black;
    border-radius: 5px;
}

.img-detail {
    width: 30%;
}

.gallery-img{
    display: flex;
    gap: 10px;
    width: 20%;
    cursor: pointer;
}

=======

.filter-ctn {
    display: flex;
    padding: 10px 20px;
    justify-content: center;
 
}

.filter-ctn ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    margin: 0;
      
}

/*Product Detail Section*/
.product-detail {
    padding: 10px 80px;
  }
  
.product-info {
    padding: 10px 0px;
    padding-top: 100px;
    line-height: 1.5; /* Adjust the line height as needed */
  }
  
.detail-img-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
  
.gallery-img {
    display: flex;
    flex-shrink: 1;
    flex-direction: column;
    width: 5%;
    margin-right: 20px; /* Adjust the margin as needed */
}
  
.detail-btn-container {
    margin-top: 50px;
    margin-left: -70px;
}
  
.detail-text {
    width: 70%;
    line-height: 1.8;
}
  
.main-img {
    display: flex;
    flex-direction: column;
    width: 40%;
}
  
.img-detail {
    width: 100%; /* Ensure images fill their container */
    cursor: pointer;
    /* Add any other styles as needed */
}
  
.detail-button {
    display: flex;
    margin-top: 10px;
}

.price-detail {
    font-size: 1.5rem;
}
  
/*End Product Detail Section*/


.add-grid {
    padding: 10px 20px;
    width: 50%;
}

h1 {
    font-size: 1rem;
    text-decoration: none;
    color: black;
}
p {
    color: black;
}
a {
    text-decoration: none;
    color: black;
}

label {
    margin-top: 10px;
}

